figure
{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
figure img
{
    width: 100%;
 
}
header,main,footer
{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
section
{
    display: flex;
    flex-flow: row wrap;
}
.tet
{
    flex: 1 0 450px;
    border-style: solid;
}
div img
{
    width: 60%;
}
span
{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    font-weight: bold;
}
div
{
    text-align: center;
}
.aliases
{
    text-align: left;
    margin: 1em;
}
.tetlong
{
    width: 80%;
}
.tetsquare
{
    width: 40%;
}
